# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Portfolio
email: walidroudi.pro@gmail.com
description: Je recherche une alternance en développement web pour mettre en pratique mes compétences et monter en niveau rapidement. Je travaille principalement en HTML/CSS pour créer des interfaces claires et responsive, et j’apprends JavaScript/PHP pour ajouter de l’interactivité et comprendre la logique côté serveur. Je suis sérieux, rigoureux, et j’aime résoudre les problèmes étape par étape.
 
baseurl: "/Portfolio"  
url: "https://walid948r.github.io/Portfolio"
twitter_username: 
github_username:  walid.948r

# Build settings

plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/

collections:
  projects:
    output: true
    

