<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Portfolio</title>
  <link rel="stylesheet" href="assets/css/style.css">
  
</head>

<body>

  <header class="header">
    <div class="container">
      <div class="top">
        <div class="logo">Walid Roudi</div>

        <nav class="nav">
          <a class="nav-link" href="Portfolio.html">Accueil</a>
          <a class="nav-link" href="Projects.html">Projets</a>
          <a class="nav-link" href="Skills.html">Compétences</a>
          <a class="nav-link" href="Apropos.html">À propos</a>
          <a class="nav-link" href="Contacts.html">Contact</a>
        </nav>
      </div>
    </div>
  </header>
  </body>
</html>