<main class="container">
  <section class="section">
    <h1 class="section-title">Compétences</h1>

    <div class="grid">
      <div class="card">
        <h3 class="card-title">Front-end</h3>
        <ul class="list">
          <li class="item">HTML</li>
          <li class="item">CSS</li>
          <li class="item">JavaScript (Lègere bases)</li>
        </ul>
      </div>

      <div class="card">
        <h3 class="card-title">Back-end</h3>
        <ul class="list">
          <li class="item">PHP (Lègere bases)</li>
          <li class="item">SQL (Lègere bases)</li>
        </ul>
      </div>

      <div class="card">
        <h3 class="card-title">Outils</h3>
        <ul class="list">
          <li class="item">Git / GitHub</li>
          <li class="item">VS Code</li>
          <li class="item">Terminal</li>
        </ul>
      </div>
    </div>

  </section>
</main>
